.portfolioList {
    font-size: 14px;
    font-weight: 900;
    margin-right: 50px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
  
    // @include mobile{
    //   margin-right: 20px;
    // }
  
    &.active {
      background-color: #c05c5c;
      color: white;
    }
  }

  marquee{
    color: white;
    background-color: #EED5C2;
    color:rgb(110, 95, 95);
    font-size: 16px;
    font-weight: 700;
  }