@import "../global.scss";

.Intro{
    color:white;
    display: flex;
    // background-color: #2A9134;
 

    background-image: url("../../../public/images/nature.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left  ;
    width: 100%;
   
    
  @include mobile{
    flex-direction: column;
    align-items: center;
   
  }


.left{
    flex:1;
   overflow: hidden;

    .ImgContainer{
        width:700px;
        height:700px;
      
        border-radius: 50%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        float:right;
        
      

        .img{
           height: 100%;
           @include mobile{
            display: none;
          }
         
        }
    }

}



.ityped-cursor {
    animation:blink 1s infinite;
}
 
@keyframes blink {
    50% {
        opacity: 1;
    }
   
    100% {
        opacity: 0;
    }
}
 
@-webkit-keyframes blink {
    100% {
        opacity: 0;
    }
}
 
@-moz-keyframes blink {
    100% {
        opacity: 0;
    }
}

.right{
    flex:1;
    position: relative;
    
    
    .wrapper{
        width:100%;
        height: 100%;
        padding-left:50px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include mobile{
            margin-top:-4rem;
          }
        

        h1{
            font-size:60px;
            margin: 10px 0;
         
            @include mobile{
                letter-spacing: 2px;
                font-size: 40px;
               
              }

        }
        h2{
            font-size:35px;


            @include mobile{
                letter-spacing: 2px;
                font-size: 30px;
               
              }
            
        }
        h3{
            font-size:30px;

            @include mobile{
                letter-spacing: 2px;
                font-size: 20px;
               
              }
            
        }

        span{
            font-size:inherit;
            color:white;
        }
    }
    a{
        position: absolute;
        bottom: 10px;
        left:40%;


img{
    width: 30px;
    animation: arrowBlink 2s infinite;
}

@keyframes arrowBlink {
100%{
    opacity: 0;
}
    
}


    }
   
}
}

// animation part
.texts,
.text{
    
    text-transform: uppercase;
    font-size:60px;
    -webkit-text-stroke: 1px #eee;
    color: transparent;
    letter-spacing: 5px;
    position: relative;

    @include mobile{
        letter-spacing: 2px;
        font-size: 20px;
       
      }
  
}

.text::before{
    content:attr(data-text);
    position: absolute;
    top:0;left:0;
    color: #FFCF9C;
    -webkit-text-stroke: 3px #ff7a00 ;
    width:1px;
    white-space:nowrap;
    overflow:hidden;
    border-right:3px linen #ff7a00;
    animation:text-fill 2s ease-in-out alternate infinite;
   
    @include mobile{
        flex-wrap: wrap;
       
      }
  
}

@keyframes text-fill {
    100% { width:90%; }
}